body {
   margin: 0px;
}

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrap::after{
  clear: both;
  display: block;
}

header {
  position: fixed;
  width: 100%;
  padding: 22px 40px;
  float: top;
  justify-content: space-between;
  transition: .5s;
  background-color: #FFF;
  z-index: 2;
}

.header-logo h1  {
  transition: .3s;
}

.header-logo a {
  color: #000;
  font-family: 'Verdana',sans-serif;
  letter-spacing:1.26px;
  font-weight: lighter;
  z-index: 2;
  vertical-align: baseline;
  text-decoration: none;
}

.header-logo::after {
  clear: both;
  display: block;
}

.is-animation {
  background-color: #fff;
}
.is-animation a {
  color: #000;
}
.is-animation .toggle span {
  border-bottom-color: #000;
}

header nav {
  padding-top: 200px;
}

header ul {
  text-align: center;
  list-style: none;
  margin-top: 0;
}

h1 {
  margin: 0;
}
.toggle {
    position: fixed;
    right: 40px;
    top: 27px;
    display: block;
    width: 45px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
}
.toggle span {
    display: block;
    position: absolute;
    width: 70%;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    padding-top: 5px;
    right: 7px;
}
.toggle span:nth-child(1) {
    top: 3px;
}
.toggle span:nth-child(2) {
    top: 13px;
}
.toggle span:nth-child(3) {
    top: 23px;
}

.toggle.active span:nth-child(1) {
    top: 15px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
     border-bottom: solid 3px #000;
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 3px #000;
}

.global_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 2;
    padding-top: 60px;
    text-align: center;
    color: #000;
    background: #fff;
    transition: all 0.8s;
}
.global_nav .nav_li {
    width: 100%;
    padding: 10px;
    list-style-type: none;
}
.global_nav .nav_li a {
    display: block;
    color: #000;
    font-family: 'Verdana',sans-serif;
    font-weight: lighter;
    letter-spacing:1.26px;
}

.global_nav.active {
    transform: translateY(0%);
}

ul li {
  margin-bottom: 50px;
}

.global_nav a {
  text-decoration: none;
  color:#000;
}

.global_nav_content {
  padding: 0;
}

.information_top {
  position: relative;
  width: 100%;
  height: 422px;
  background-color: #000;
}

.information_tittle {
  position: absolute;
  font-family: 'Verdana',sans-serif;
  font-weight: lighter;;
  color: #FFF;
  font-size: 60px;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding:0;
  z-index: 1
}

.information_top img{
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.info {
  text-decoration: none;
  color: #000;
}

.info:hover {
  color: #0066FF;
}

.map {
    text-align: center;
    margin: 0;
  }



@media screen and (min-width:1280px) {
  /* 店舗情報 */
  .store_taitle {
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .store_sbtaitle {
    text-align: center;
    font-size: 12px;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  hr {
    width: 80%;
    height: 1px;
    margin: auto;
    border: none;
    background-color:#707070;
    text-align: center;
  }

  .page {
    margin: 0;
    padding: 0;
  }

  .page li{
    display: inline-block;
  }

   .taitle {
    text-decoration: none;
    opacity: 0.5;
    font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    padding-left: ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 22%;
    margin-right: 58px;
    vertical-align: top;
  }

  .taitle1 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 28px;
   vertical-align: top;
  }

  .taitle2 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 26px;
   vertical-align: top;
  }

  .taitle3 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 38px;
   vertical-align: top;
  }

   .content {
    text-decoration: none;
    font-family: 'Verdana','Arial',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content1 {
    margin: 0;
  }

  .tell {
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  .inst {
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  img.example3 {
    vertical-align: middle;
    margin-right: 20px;
  }

  img.example2 {
    vertical-align: middle;
    margin-right: 30px;
  }

  .border {
    height: 0.8px;
    width: 80%;
  }

  .border1 {
    margin-bottom: 180px;
    height: 0.8px;
    width: 80%;
  }

  a[href^="tel:"]{
    pointer-events: none;
  }

  /* footer */
  .specialites_taitle {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Verdana',sans-serif;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .specialites_sbtaitle {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }

  .specialites_sbtaitle2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }
  .instagram {
    text-align: center;
    margin-bottom: 80px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 40px;
   padding-bottom: 40px;
  }

  .access_taitle {
    text-align: center;
    color: #fff;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 80px;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    float: right;
    padding-right: 214px
  }

  .access_content {
    font-size: 12px;
    color: #fff;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0px;
    margin-bottom: 180px;
    padding-left: 292px;
  }



  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom1 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin: 0px;
  }

  .access_bottom2 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .access_bottom3 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .tab_instagram {
    display: none;
  }

  .tab_text {
    display: none;
  }

  .commitment3_img {
    display: none;
  }

  .google_map1 {
    display: none;
  }

}

/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {

  /* 店舗情報 */
  .store_taitle {
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .store_sbtaitle {
    text-align: center;
    font-size: 12px;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  hr {
    width: 80%;
    height: 1px;
    margin: auto;
    border: none;
    background-color:#707070;
    text-align: center;
  }

  .page {
    margin: 0;
    padding: 0;
  }

  .page li{
    display: inline-block;
  }

   .taitle {
    text-decoration: none;
    opacity: 0.5;
    font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    padding-left: ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 22%;
    margin-right: 58px;
    vertical-align: top;
  }

  .taitle1 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 28px;
   vertical-align: top;
  }

  .taitle2 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 26px;
   vertical-align: top;
  }

  .taitle3 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 22%;
   margin-right: 38px;
   vertical-align: top;
  }

   .content {
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content1 {
    margin: 0;
  }

  .tell {
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  .inst {
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  img.example3 {
    vertical-align: middle;
    margin-right: 20px;
  }

  img.example2 {
    vertical-align: middle;
    margin-right: 30px;
  }

  .border {
    height: 0.8px;
    width: 80%;
  }

  .border1 {
    margin-bottom: 180px;
    height: 0.8px;
    width: 80%;
  }

  a[href^="tel:"]{
    pointer-events: none;
  }

  /* footer */
  .specialites_taitle {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Verdana',sans-serif;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .specialites_sbtaitle {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }

  .specialites_sbtaitle2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }
  .instagram {
    text-align: center;
    margin-bottom: 80px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 80px;
   padding-bottom: 80px;
  }

  .access_taitle {
    text-align: center;
    color: #fff;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 80px;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    float: right;
    padding-right: 214px
  }

  .access_content {
    font-size: 12px;
    color: #fff;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-left: 292px;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom1 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin: 0px;
  }

  .access_bottom2 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .access_bottom3 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  a[href^="tel:"]{
    pointer-events: none;
  }

    /* footer */
  .spc {
    margin-top: 333.8px;
    margin-bottom: 0;
  }

  .instagram {
    display: none;
  }

  .tab_instagram {
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 40px;
   padding-bottom: 40px;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    display: none;
  }
  .google_img {
    width: 100%;
    height :230px;
    margin: 0;
  }

  .google_map1 {
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
  }


  .access_content {
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    padding: 0;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }
}


/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {

  /* 店舗情報 */
  .store_taitle {
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .store_sbtaitle {
    text-align: center;
    font-size: 12px;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  hr {
    width: 80%;
    height: 1px;
    margin: auto;
    border: none;
    background-color:#707070;
    text-align: center;
  }

  .page {
    margin: 0;
    padding: 0;
  }

  .page li{
    list-style: none;
  }

   .taitle {
    text-decoration: none;
    opacity: 0.5;
    font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    padding-left: ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 58px;
    vertical-align: top;
  }

  .taitle1 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 28px;
   vertical-align: top;
  }

  .taitle2 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 26px;
   vertical-align: top;
  }

  .taitle3 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 38px;
   vertical-align: top;
  }

   .content {
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
  }

  .content1 {
    margin-left: 15%;
  }

  .tell {
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  .inst {
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  img.example3 {
    vertical-align: middle;
    margin-right: 20px;
  }

  img.example2 {
    vertical-align: middle;
    margin-right: 30px;
  }

  .border {
    height: 0.8px;
    width: 80%;
  }

  .border1 {
    margin-bottom: 100px;
    height: 0.8px;
    width: 80%;
  }

  a[href^="tel:"]{
    pointer-events: none;
  }

  /* footer */
  .specialites_taitle {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Verdana',sans-serif;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .specialites_sbtaitle {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }

  .specialites_sbtaitle2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }
  .instagram {
    text-align: center;
    margin-bottom: 80px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 80px;
   padding-bottom: 80px;
  }

  .access_taitle {
    text-align: center;
    color: #fff;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 80px;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    float: right;
    padding-right: 214px
  }

  .access_content {
    font-size: 12px;
    color: #fff;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-left: 292px;
    margin: 0 auto;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom1 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin: 0px;
  }

  .access_bottom2 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .access_bottom3 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  /* footer */
.specialites_taitle {
  margin-top: 20px;
}

.spc {
  margin-top: 333.8px;
  margin-bottom: 0;
}

.instagram {
  display: none;
}
  .tab_instagram {
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 20px;
   padding-bottom: 20px;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    display: none;
  }
  .google_img {
    width: 100%;
    height :230px;
    margin: 0;
  }

  .google_map1 {
    text-align: center;
    margin-bottom: 90px;
    margin-top: 0;
  }


  .access_content {
    margin-bottom: 90px;
    margin-top: 0px;
    text-align: center;
    padding-left: 0;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

}


/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) {

  header {
    padding: 11px 20px;
  }

  .toggle {
    top: 15px;
    right: 20px;
  }

.toggle span {
  border-bottom: solid 2px #000;
}

  .header-logo a {
    font-size: 24px
  }

  .concept_top {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: #000;
  }

  .concept_tittle {
    position: absolute;
    font-family: 'Verdana',sans-serif;
    font-weight: lighter;;
    letter-spacing:7.5px;
    color: #FFF;
    font-size: 40px;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 1
  }

 /* 店舗情報 */
 .store_taitle {
   text-align: center;
   text-decoration: none;
   font-family: 'Verdana',sans-serif;
   font-size: 24px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-top: 80px;
   margin-bottom: 5px;
 }

 .store_sbtaitle {
   text-align: center;
   font-size: 12px;
   line-height: 2.5;
   font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   letter-spacing:1.26px;
   margin-top: 0;
   margin-bottom: 80px;
 }

 hr {
   width: 80%;
   height: 1px;
   margin: auto;
   border: none;
   background-color:#707070;
   text-align: center;
 }

 .page {
   margin: 0;
   padding: 0;
 }

 .page li{
   list-style: none;
 }

  .taitle {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 58px;
   vertical-align: top;
 }

 .taitle1 {
  text-decoration: none;
  opacity: 0.5;
  font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 13.6px;
  letter-spacing:1.26px;
  font-weight: lighter;
  padding-left: ;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 28px;
  vertical-align: top;
 }

 .taitle2 {
  text-decoration: none;
  opacity: 0.5;
  font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 13.6px;
  letter-spacing:1.26px;
  font-weight: lighter;
  padding-left: ;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 26px;
  vertical-align: top;
 }

 .taitle3 {
  text-decoration: none;
  opacity: 0.5;
  font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 13.6px;
  letter-spacing:1.26px;
  font-weight: lighter;
  padding-left: ;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 38px;
  vertical-align: top;
 }

  .content {
   text-decoration: none;
   font-family: 'Verdana',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
 }

 .content1 {
   margin-left: 15%;

 }

 .tell {
   font-family: 'Verdana',sans-serif;
   font-size: 24px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-top: 20px;
 }

 .inst {
   font-family: 'Verdana',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-top: 20px;
 }

 img.example3 {
   vertical-align: middle;
   margin-right: 20px;
 }

 img.example2 {
   vertical-align: middle;
   margin-right: 30px;
 }

 .border {
   height: 0.8px;
   width: 80%;
 }

 .border1 {
   margin-bottom: 100px;
   height: 0.8px;
   width: 80%;
 }

 /* footer */
 .specialites_taitle {
   text-align: center;
   margin: 0px;
   font-size: 24px;
   font-family: 'Verdana',sans-serif;
   letter-spacing:1.26px;
   font-weight: lighter;
 }

 .specialites_sbtaitle {
   text-align: center;
   font-size: 12px;
   margin-top: 5px;
   margin-bottom: 50px;
   font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   letter-spacing:1.26px;
 }

 .specialites_sbtaitle2 {
   text-align: center;
   font-size: 12px;
   margin-top: 0px;
   margin-bottom: 50px;
   font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   letter-spacing:1.26px;
 }
 .instagram {
   text-align: center;
   margin-bottom: 80px;
 }

 .access {
  background-color: #3A0013;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .access_taitle {
   text-align: center;
   color: #fff;
   font-family: 'Verdana',sans-serif;
   font-size: 24px;
   margin-top: 0;
   margin-bottom: 80px;
   letter-spacing:1.26px;
   font-weight: lighter;
 }

 .access_img a{
   display: inline-block;
 }

 .google_map {
   float: right;
   padding-right: 214px
 }

 .access_content {
   font-size: 12px;
   color: #fff;
   line-height: 2.5;
   font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   letter-spacing:1.26px;
   margin-top: 0px;
   margin-bottom: 90px;
   padding-top: 50px;
   padding-left: 292px;
   width: 306px;
 }

 .access_img {
   list-style: none;
   text-align: center;
   margin-bottom: 70px;
 }

 .icon {
   -webkit-filter: invert(100%);
   -moz-filter: invert(100%);
   -o-filter: invert(100%);
   -ms-filter: invert(100%);
   filter: invert(100%);
   margin-left: 32px;
 }

 .access_menu ul{
   margin: 0;
   padding: 0px;
   text-align: center;
 }

 .access_menu_content li{
   list-style: none;
   margin: 0;
   display: inline;
 }

 .access_bottom1 a{
   text-decoration: none;
   color:#fff;
   opacity: 0.5;
   font-family: 'Verdana',sans-serif;
   font-size: 12px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin: 0px;
 }

 .access_bottom2 a{
   text-decoration: none;
   color:#fff;
   opacity: 0.5;
   font-family: 'Verdana',sans-serif;
   font-size: 12px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-left: 70px;
 }

 .access_bottom3 a{
   text-decoration: none;
   color:#fff;
   opacity: 0.5;
   font-family: 'Verdana',sans-serif;
   font-size: 12px;
   letter-spacing:1.26px;
   font-weight: lighter;
   margin-left: 70px;
 }

  /* footer */
.specialites_taitle {
  margin-top: 20px;
}

.spc {
  margin-top: 333.8px;
  margin-bottom: 0;
}

.instagram {
  display: none;
}
  .tab_instagram {
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 80px;
   padding-bottom: 80px;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    display: none;
  }
  .google_img {
    width: 100%;
    height :230px;
    margin: 0;
  }

  .google_map1 {
    text-align: center;
    margin-bottom: 90px;
    margin-top: 0;
  }


  .access_content {
    margin-bottom: 90px;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom2 a {
    margin-left: 20px;
  }

  .access_bottom3 a {
    margin-left: 20px;
  }

}


/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) {

  header {
    padding: 11px 20px;
  }

  .toggle {
    top: 15px;
    right: 20px;
  }

.toggle span {
  border-bottom: solid 2px #000;
}

  .header-logo a {
    font-size: 24px
  }

  .information_top {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: #000;
  }

  .information_tittle {
    position: absolute;
    font-family: 'Verdana',sans-serif;
    font-weight: lighter;;
    letter-spacing:7.5px;
    color: #FFF;
    font-size: 40px;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 1
  }

  /* 店舗情報 */
  .store_taitle {
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .store_sbtaitle {
    text-align: center;
    font-size: 12px;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  hr {
    width: 80%;
    height: 1px;
    margin: auto;
    border: none;
    background-color:#707070;
    text-align: center;
  }

  .page {
    margin: 0;
    padding: 0;
  }

  .page li{
    list-style: none;
  }

   .taitle {
    text-decoration: none;
    opacity: 0.5;
    font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    padding-left: ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 58px;
    vertical-align: top;
  }

  .taitle1 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 28px;
   vertical-align: top;
  }

  .taitle2 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 26px;
   vertical-align: top;
  }

  .taitle3 {
   text-decoration: none;
   opacity: 0.5;
   font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   font-size: 13.6px;
   letter-spacing:1.26px;
   font-weight: lighter;
   padding-left: ;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15%;
   margin-right: 38px;
   vertical-align: top;
  }

   .content {
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    font-size: 13.6px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
  }

  .content1 {
    margin-left: 15%;
    width: 80%;
  }

  .tell {
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  .inst {
    font-family: 'Verdana',sans-serif;
    font-size: 9px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-top: 20px;
  }

  img.example3 {
    vertical-align: middle;
    margin-right: 20px;
  }

  img.example2 {
    vertical-align: middle;
    margin-right: 30px;;
  }

  .border {
    height: 0.8px;
    width: 80%;
  }

  .border1 {
    margin-bottom: 100px;
    height: 0.8px;
    width: 80%;
  }

  /* footer */
  .specialites_taitle {
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Verdana',sans-serif;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .specialites_sbtaitle {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }

  .specialites_sbtaitle2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
  }
  .instagram {
    text-align: center;
    margin-bottom: 80px;
  }

  .access {
   background-color: #3A0013;
   padding-top: 20px;
   padding-bottom: 20px;
  }

  .access_taitle {
    text-align: center;
    color: #fff;
    font-family: 'Verdana',sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 80px;
    letter-spacing:1.26px;
    font-weight: lighter;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    float: right;
    padding-right: 214px
  }

  .access_content {
    font-size: 12px;
    color: #fff;
    line-height: 2.5;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing:1.26px;
    margin-top: 0px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-left: 292px;
  }

  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom1 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin: 0px;
  }

  .access_bottom2 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .access_bottom3 a{
    text-decoration: none;
    color:#fff;
    opacity: 0.5;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    letter-spacing:1.26px;
    font-weight: lighter;
    margin-left: 70px;
  }

  /* footer */
  .specialites_taitle {
  margin-top: 20px;
  }

  .spc {
  margin-top: 333.8px;
  margin-bottom: 0;
  }

  .instagram {
  display: none;
  }

  .tab_instagram {
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .access_img {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
  }

  .access_img a{
    display: inline-block;
  }

  .google_map {
    display: none;
  }
  .google_img {
    width: 100%;
    height :230px;
    margin: 0;
  }

  .google_map1 {
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
  }


  .access_content {
    margin-bottom: 90px;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  .icon {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    margin-left: 32px;
  }

  .access_menu ul{
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  .access_menu_content li{
    list-style: none;
    margin: 0;
    display: inline;
  }

  .access_bottom2 a {
    margin-left: 20px;
  }

  .access_bottom3 a {
    margin-left: 20px;
  }
}
