body {
   margin: 0px;
}

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrap::after{
  clear: both;
  display: block;
}

header {
  position: fixed;
  width: 100%;
  padding: 22px 40px;
  float: top;
  justify-content: space-between;
  transition: .5s;
  background-color: #FFF;
  z-index: 2;
}

.header-logo h1  {
  transition: .3s;
}

.header-logo a {
  color: #000;
  font-family: 'Verdana',sans-serif;
  letter-spacing:1.26px;
  font-weight: lighter;
  z-index: 2;
  vertical-align: baseline;
  text-decoration: none;
}

.header-logo::after {
  clear: both;
  display: block;
}

.is-animation {
  background-color: #fff;
}
.is-animation a {
  color: #000;
}
.is-animation .toggle span {
  border-bottom-color: #000;
}

header nav {
  padding-top: 200px;
}

header ul {
  text-align: center;
  list-style: none;
  margin-top: 0;
}

h1 {
  margin: 0;
}
.toggle {
    position: fixed;
    right: 40px;
    top: 27px;
    display: block;
    width: 45px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
}
.toggle span {
    display: block;
    position: absolute;
    width: 70%;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    padding-top: 5px;
    right: 7px;
}
.toggle span:nth-child(1) {
    top: 3px;
}
.toggle span:nth-child(2) {
    top: 13px;
}
.toggle span:nth-child(3) {
    top: 23px;
}

.toggle.active span:nth-child(1) {
    top: 15px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
     border-bottom: solid 3px #000;
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 3px #000;
}

.global_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 2;
    padding-top: 60px;
    text-align: center;
    color: #000;
    background: #fff;
    transition: all 0.8s;
}

.global_nav_content {
  padding: 0;
}

.global_nav .nav_li {
    width: 100%;
    padding: 10px;
    list-style-type: none;
}
.global_nav .nav_li a {
    display: block;
    color: #000;
    font-family: 'Verdana',sans-serif;
    font-weight: lighter;
    letter-spacing:1.26px;
}

.global_nav.active {
    transform: translateY(0%);
}

ul li {
  margin-bottom: 50px;
}

.global_nav a {
  text-decoration: none;
  color:#000;
}

.concept_top {
  position: relative;
  width: 100%;
  height: 422px;
  background-color: #000;
}

.concept_tittle {
  position: absolute;
  font-family: 'Verdana',sans-serif;
  font-weight: lighter;;
  letter-spacing:7.5px;
  color: #FFF;
  font-size: 60px;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 1
}

.concept_top img{
  object-fit: cover;
  object-position: 0% 80%;
  display: block;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* ナビゲーションメニュー */

.tab {
  display: table;
  background-color: #E9E9E9;
  margin-top: 94px;
  margin-left: 9.5%;
  margin-left: 9.5%;
  margin-bottom: 0;
  padding: 0;
  width: 81%;
  text-align: center;
  vertical-align: bottom;
}

.tab li {
  display: table-cell;
  width: 27%;
}

.tab li a {
  display: block;
  width: 100%;
  padding-top: 15px ;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  text-decoration: none;
  color: #000;
  font-family: 'Verdana',sans-serif;
  font-size: 13.6px;
  letter-spacing:1.26px;
  font-weight: lighter;
  text-align: center;
  cursor : pointer;
}

.tab li:hover {
  background-color: #3A0013;
  transition: all 0.5s;
}

.tab li :hover{
  color: #fff;
  transition: all 0.5s;
}

.tab li.active  {
  background-color: #3A0013;
  color: #fff;
}

.tab li.active  a {
  color: #fff;
}

.more-button a{
    font-family: 'Verdana',sans-serif;
}


/* アコーディオンメニュー */
/*ボックス全体*/
.accbox {
    margin-left: 9.5%;
    margin-right: 9.5%;
    padding: 0;
    width: 81%;
    display: none;
}

.accbox.active {
  display: block;
}

.listbox {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 60px;
}

/* 点線 */

table {
    width: 100%;
    font-size: inherit;
    font: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
  position: relative;
}

td {
  font-weight: normal;
  display: table-cell;
  vertical-align: inherit;
  width: 80%!important;
  position: relative;
  padding-top: 60px;
  padding-bottom: 0px;
  line-height: 1.8em;
}




.listbox_menu::before {
  content: '- - - - - - - - - - -';
  width: auto;
  height: auto;
  position: absolute;
  top: 84%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: right;
}

td::after {
  content: '';
  position: absolute;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.listbox table tbody tr td:nth-child(2) {
  text-align: right;
}

dt {
  margin-left: 90px;
  margin-right: 30%;
}

dd {
  margin-left: 80px;
  margin-right: 90px;
}

.product {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0;
}

.product::after {
  height: 1em;
  content: '';
  background: radial-gradient(#000 20%, transparent 30%) center/ 1em;
  flex: auto;
}

.productPrice {
  order: 1;
}

/* 下線 */
hr {
  height: 1px;
  margin: auto;
  border: none;
  background-color:#000;
}

label.box {
   border-bottom: 1px solid #000;
}

div.listbox {
  border-bottom: 1px solid #000;
}
/*ラベル*/
.accbox label {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 0;
    padding-right: 44.25px;
    font-weight: lighter;
    color :#000;
    font-weight: bold;
    background :#fff;
    transition: all 0.5s;
}

.accbox label a {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-family: 'Verdana',sans-serif;
  font-weight: lighter;
  letter-spacing:1.26px;
  font-size: 13.6px;
  margin-left: 50px;
  width: 100%;
}

#arrow {
  width: 14px;
  height: 14px;
  padding: 5.75px;
  float: right;
  cursor : pointer;
  line-height: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* 回転 */
.accbox_toggle #arrow{
   	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}


/*ラベルホバー時*/
.accbox label:hover {
  background-color: #E9E9E9;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    opacity: 1;
    padding: 0;
}

/* 回転 */



.accshow p {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-weight: lighter;
  letter-spacing:1.26px;
  font-size: 13.6px;
}

.accshow img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  line-height: 0;
}

.menu {
  margin-top: 60px;
  margin-bottom: 60px;
}

.price {
  display: inline-block;
  float: right;
}

.accshow p {
  margin-right: 90px;
  margin-top: 0;
}

.title {
  margin-left: 90px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.under {
  width: 100%;
  height: 1px;
  color: #000;
  border-color: #000;
}

.button {
  padding-top: 30px;
  text-align: center;
}

.precautionary {
  text-align: center;
  padding-top: 60px;
}

.precautionary_note {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 12px;
  letter-spacing:1.26px;
  line-height: 1.5;
}

.more-button {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 12px;
  letter-spacing:1.26px;
  line-height: 1.5;
  font-weight: lighter;
  text-align: center;
}

.more-button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 10px 60px;
  text-decoration: none;
  color: #fff;
  background: #000;
  transition: .4s;
}

.more-button:hover {
  background: #fff;
  color: #000;
}

/* footer */
footer {
  margin-top: 80px;
}

.specialites_taitle {
  text-align: center;
  margin: 0px;
  font-size: 24px;
  font-family: 'Verdana',sans-serif;
  letter-spacing:1.26px;
  font-weight: lighter;
}

.specialites_sbtaitle {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  letter-spacing:1.26px;
}

.specialites_sbtaitle2 {
  text-align: center;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  letter-spacing:1.26px;
}
.instagram {
  text-align: center;
  margin-bottom: 80px;
}

.access {
 background-color: #3A0013;
 padding-top: 80px;
 padding-bottom: 80px;
}

.access_taitle {
  text-align: center;
  color: #fff;
  font-family: 'Verdana',sans-serif;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 80px;
  letter-spacing:1.26px;
  font-weight: lighter;
}

.access_img a{
  display: inline-block;
}

.google_map {
  float: right;
  padding-right: 214px
}

.access_content {
  font-size: 12px;
  color: #fff;
  line-height: 3;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  letter-spacing:1.26px;
  margin: 0;
  margin-bottom: 180px;
  padding-left: 292px;
}

.access_img {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.icon {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
  margin-left: 32px;
}

.access_menu ul{
  margin: 0;
  padding: 0px;
  text-align: center;
}

.access_menu_content li{
  list-style: none;
  margin: 0;
  display: inline;
}

.access_bottom1 a{
  text-decoration: none;
  color:#fff;
  opacity: 0.5;
  font-family: 'Verdana',sans-serif;
  font-size: 12px;
  letter-spacing:1.26px;
  font-weight: lighter;
  margin: 0px;
}

.access_bottom2 a{
  text-decoration: none;
  color:#fff;
  opacity: 0.5;
  font-family: 'Verdana',sans-serif;
  font-size: 12px;
  letter-spacing:1.26px;
  font-weight: lighter;
  margin-left: 70px;
}

.access_bottom3 a{
  text-decoration: none;
  color:#fff;
  opacity: 0.5;
  font-family: 'Verdana',sans-serif;
  font-size: 12px;
  letter-spacing:1.26px;
  font-weight: lighter;
  margin-left: 70px;
}

@media screen and (min-width:1280px) {

  a[href^="tel:"]{
    pointer-events: none;
  }

  .shmenu {
    display: none;
  }

  .tab_text {
    display: none;
  }

  .tab_instagram {
    display: none;
  }

  .google_map1 {
    display: none;
  }

}

/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {

  .shmenu {
    display: none;
  }

  a[href^="tel:"]{
    pointer-events: none;
  }

  .listbox_menu::before {
    content: '- - - - -　';
    width: auto;
    height: auto;
    position: absolute;
    top: 84%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: right;
  }

  td {
    font-weight: normal;
    display: table-cell;
    vertical-align: inherit;
    width: 80%!important;
    position: relative;
    padding-top: 60px;
    padding-bottom: 0px;
    line-height: 1.8em;
  }

        /* footer */
    .specialites_taitle {
      margin-top: 20px;
    }

      .spc {
        margin-top: 333.8px;
        margin-bottom: 0;
      }

      .instagram {
        display: none;
      }
        .tab_instagram {
          margin-bottom: 80px;
          margin-left: 40px;
          margin-right: 40px;
        }

        .access {
         background-color: #3A0013;
         padding-top: 80px;
         padding-bottom: 80px;
        }

        .access_img {
          list-style: none;
          text-align: center;
          margin-bottom: 70px;
        }

        .access_img a{
          display: inline-block;
        }

        .google_map {
          display: none;
        }
        .google_img {
          width: 100%;
          height :230px;
          margin: 0;
        }

        .google_map1 {
          text-align: center;
          margin-bottom: 90px;
          margin-top: 0;
        }


        .access_content {
          margin-bottom: 90px;
          margin-top: 0px;
          text-align: center;
          padding-left: 0;
        }

        .icon {
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
          filter: invert(100%);
          margin-left: 32px;
        }

        .access_menu ul{
          margin: 0;
          padding: 0px;
          text-align: center;
        }

        .access_menu_content li{
          list-style: none;
          margin: 0;
          display: inline;
        }

}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {

    .listbox {
      padding-left: 30px;
      padding-right: 30px;
    }

    td {
      font-size: 12px;
      font-weight: normal;
      display: table-cell;
      vertical-align: inherit;
      width: 80%!important;
      position: relative;
      padding-top: 60px;
      padding-bottom: 0px;
      line-height: 1.8em;
    }

    .listbox_menu::before {
      content: '- - - - - - -　';
      width: auto;
      height: auto;
      position: absolute;
      top: 84%;
      right: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      text-align: right;
    }

    .pcmenu {
      display: none;
    }

    a[href^="tel:"]{
      pointer-events: none;
    }

        /* footer */
    .specialites_taitle {
      margin-top: 20px;
    }

      .spc {
        margin-top: 333.8px;
        margin-bottom: 0;
      }

      .instagram {
        display: none;
      }
        .tab_instagram {
          margin-bottom: 80px;
          margin-left: 40px;
          margin-right: 40px;
        }

        .access {
         background-color: #3A0013;
         padding-top: 80px;
         padding-bottom: 80px;
        }

        .access_img {
          list-style: none;
          text-align: center;
          margin-bottom: 70px;
        }

        .access_img a{
          display: inline-block;
        }

        .google_map {
          display: none;
        }
        .google_img {
          width: 100%;
          height :230px;
          margin: 0;
        }

        .google_map1 {
          text-align: center;
          margin-bottom: 90px;
          margin-top: 0;
        }


        .access_content {
          margin-bottom: 90px;
          margin-top: 0px;
          text-align: center;
          padding-left: 0;
        }

        .icon {
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
          filter: invert(100%);
          margin-left: 32px;
        }

        .access_menu ul{
          margin: 0;
          padding: 0px;
          text-align: center;
        }

        .access_menu_content li{
          list-style: none;
          margin: 0;
          display: inline;
        }

        .access_bottom2 a {
          margin-left: 20px;
        }

        .access_bottom3 a {
          margin-left: 20px;
        }

}


/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) {

        header {
          padding: 11px 20px;
        }

        .concept_top {
          position: relative;
          width: 100%;
          height: 280px;
          background-color: #000;
        }

        .concept_tittle {
          position: absolute;
          font-family: 'Verdana',sans-serif;
          font-weight: lighter;;
          letter-spacing:7.5px;
          color: #FFF;
          font-size: 40px;
          top: 60%;
          left: 50%;
          -ms-transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          margin:0;
          padding:0;
          z-index: 1
        }

        .toggle {
          top: 15px;
          right: 20px;
        }

      .toggle span {
        border-bottom: solid 2px #000;
      }

        .header-logo a {
          font-size: 24px
        }

      .pcmenu {
        display: none;
      }

      tr {
        font-size: 12px;
      }

      td {
        font-size: 12px;
        font-weight: normal;
        display: table-cell;
        vertical-align: inherit;
        width: 80%!important;
        position: relative;
        padding-top: 60px;
        padding-bottom: 0px;
        line-height: 1.8em;
      }

      .listbox {
        padding-left: 30px;
        padding-right: 30px;
      }

      .listbox_menu::before {
        content: '- - - - -';
        width: auto;
        height: auto;
        position: absolute;
        top: 84%;
        right: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        text-align: right;
      }

        /* footer */
    .specialites_taitle {
      margin-top: 20px;
    }

      .spc {
        margin-top: 333.8px;
        margin-bottom: 0;
      }

      .instagram {
        display: none;
      }
        .tab_instagram {
          margin-bottom: 80px;
          margin-left: 40px;
          margin-right: 40px;
        }

        .access {
         background-color: #3A0013;
         padding-top: 80px;
         padding-bottom: 80px;
        }

        .access_img {
          list-style: none;
          text-align: center;
          margin-bottom: 70px;
        }

        .access_img a{
          display: inline-block;
        }

        .google_map {
          display: none;
        }
        .google_img {
          width: 100%;
          height :230px;
          margin: 0;
        }

        .google_map1 {
          text-align: center;
          margin-bottom: 90px;
          margin-top: 0;
        }


        .access_content {
          margin-bottom: 90px;
          margin-top: 0px;
          text-align: center;
          padding-left: 0;
        }

        .icon {
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
          filter: invert(100%);
          margin-left: 32px;
        }

        .access_menu ul{
          margin: 0;
          padding: 0px;
          text-align: center;
        }

        .access_menu_content li{
          list-style: none;
          margin: 0;
          display: inline;
        }

}


/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) {

  header {
    padding: 11px 20px;
  }

  .toggle {
    top: 15px;
    right: 20px;
  }

.toggle span {
  border-bottom: solid 2px #000;
}

.concept_top {
  position: relative;
  width: 100%;
  height: 280px;
  background-color: #000;
}

.concept_tittle {
  position: absolute;
  font-family: 'Verdana',sans-serif;
  font-weight: lighter;;
  letter-spacing:7.5px;
  color: #FFF;
  font-size: 40px;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 1
}

  .header-logo a {
    font-size: 24px
  }

  .accbox label {
    padding-right: 10.25px;
  }

  .accbox label a {
    margin-left: 20px;
  }

  tr {
    font-size: 12px;
  }

  .pcmenu {
    display: none;
  }

  .listbox {
    padding-left: 15px;
    padding-right: 15px;
  }

  .listbox_menu::before {
    content: '- - - -　';
    width: auto;
    height: auto;
    position: absolute;
    top: 84%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: right;
  }

  td {
    font-weight: normal;
    display: table-cell;
    vertical-align: inherit;
    width: 80%!important;
    position: relative;
    padding-top: 60px;
    padding-bottom: 0px;
    line-height: 1.8em;
  }

        /* footer */
    .specialites_taitle {
      margin-top: 20px;
    }

      .spc {
        margin-top: 333.8px;
        margin-bottom: 0;
      }

      .instagram {
        display: none;
      }
        .tab_instagram {
          margin-bottom: 80px;
          margin-left: 40px;
          margin-right: 40px;
        }

        .access {
         background-color: #3A0013;
         padding-top: 80px;
         padding-bottom: 80px;
        }

        .access_img {
          list-style: none;
          text-align: center;
          margin-bottom: 70px;
        }

        .access_img a{
          display: inline-block;
        }

        .google_map {
          display: none;
        }
        .google_img {
          width: 100%;
          height :230px;
          margin: 0;
        }

        .google_map1 {
          text-align: center;
          margin-top: 0px;
          margin-bottom: 90px;
        }


        .access_content {
          margin-top: 0px;
          text-align: center;
          padding-left: 0;
          padding-top: 0;
        }

        .icon {
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
          filter: invert(100%);
          margin-left: 32px;
        }

        .access_menu ul{
          margin: 0;
          padding: 0px;
          text-align: center;
        }

        .access_menu_content li{
          list-style: none;
          margin: 0;
          display: inline;
        }

        .access_bottom2 a {
          margin-left: 20px;
        }

        .access_bottom3 a {
          margin-left: 20px;
        }

}
